.stocks-banner {
  position: relative;
  overflow: hidden;

  .main__banner {
    padding-bottom: 24px;

    &::after {
      background-image: none;
    }
  }

  .percent-1 {
    top: -52px;
    right: 48px;
    position: absolute;
    width: 232px;
    height: 232px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/content/percent_1.png");
  }

  .percent-2 {
    bottom: -113px;
    right: 200px;
    position: absolute;
    width: 326px;
    height: 326px;
    -webkit-transform: rotate(-16deg);
    transform: rotate(-20deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/content/percent_2.png");
  }
}

@media (max-width: 1100px) {
  .stocks-banner {
    .desktop-br {
      display: none;
    }

    .percent-1 {
      top: -23px;
      right: -31px;
      position: absolute;
      width: 122px;
      height: 122px;
    }

    .main__banner {
      gap: 20px;
    }
  }
}