.feedback-banner {
  &__section {
    padding: 32px 80px;
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(86deg, #151515 14.88%, #382A8E 99.03%);
    border-radius: $border-radius;
    color: $white;

    .footer__contents__rating {
      border-color: $sky-blue;

      .footer__contents__rating__desc {
        color: $sky-blue;
      }
    }
  }
}

@media (max-width: 1100px) {
  .feedback-banner {
    &__section {
      margin: 0;
      margin-bottom: 40px;
      border-radius: 0 0 $border-radius $border-radius;
      padding: 24px 16px;
      flex-direction: column;
      gap: 20px;

      .footer__contents__rating__wrapper {
        display: flex;
      }
    }
  }
}