.input {
  position: absolute;
  top: 26px;
  left: 16px;
  width: calc(100% - 32px);
  font-size: 16px;
  line-height: 24px;
  background: transparent;
  color: transparent;
  @include transition;

  &::placeholder {
    color: transparent;
    @include transition;
  }

  &.error {
    &::placeholder {
      color: transparent;
      @include transition;
    }
  }

  &:focus, &:not(:placeholder-shown) {
    color: $black;

    &+span.error {
      display: none !important;
    }

    &::placeholder {
      color: $grey-3;
    }
  }

  &.error + .error + .input__label {
    position: absolute;
    top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: $dark-grey
  }

  &.error + .error {
    position: absolute;
    top: 26px;
    transform: none;
  }
 
  &:focus + .input__label, &:not(:placeholder-shown) + .input__label,
  &:focus + .error + .input__label, &:not(:placeholder-shown) + .error + .input__label {
    position: absolute;
    top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: $dark-grey
  }

  &__label {
    position: absolute;
    top: 16px;
    left: 16px;
    color: $grey-3;
    font-size: 16px;
    line-height: 24px;
    @include transition;
  }

  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    height: 56px;
    align-items: center;
    position: relative;
    padding: 15px;
    border: 1px solid $grey-3;
    border-radius: $border-radius;
    cursor: text;
    @include transition;

    span.error {
      left: 16px;
      color: #D02D2D;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }

    &:hover {
      .input__label {
        color: $dark-grey
      }
    }

    &:has(.input:not(:placeholder-shown)) {
      border-color: $dark-grey;
    }

    &:has(.input:focus) {
      border-color: $blue-main;
    }

    &:has(.input.error) {
      border-color: $red;
    }

    &.input-textarea {
      flex-direction: row;
      justify-content: flex-start;
      height: 120px;

      span.error {
        top: 16px;
      }
      
      .input {
        resize: none;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
        position: inherit;
        border: none;

        &.error {
          &::placeholder {
            color: transparent;
          }
        }

        &::placeholder {
          color: $grey-3;
        }
      }
    }

    &.input-default {
      span.error {
        top: 50%;
        transform: translateY(-50%);
      }

      .input {
        top: 50%;
        transform: translateY(-50%);

        &.error {
          &::placeholder {
            color: transparent;
            @include transition;
          }
        }
        
        &::placeholder {
          color: $grey-3;
        }
      }
    }

    &.search {
      padding: 9px 12px;
      height: auto;

      .input {
        color: black;
        line-height: 20px;
        position: static;
        border-color: $grey-3;

        &:hover {
          &::placeholder {
            color: $dark-grey;
          }
        }

        &::placeholder {
          color: $grey-3;
        }
      }

      &::before {
        content: "";
        position: absolute;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIxIDIxTDE3LjUwMDEgMTcuNU0yMCAxMS41QzIwIDE2LjE5NDQgMTYuMTk0NCAyMCAxMS41IDIwQzYuODA1NTggMjAgMyAxNi4xOTQ0IDMgMTEuNUMzIDYuODA1NTggNi44MDU1OCAzIDExLjUgM0MxNi4xOTQ0IDMgMjAgNi44MDU1OCAyMCAxMS41WiIgc3Ryb2tlPSIjOUNBNUIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
        width: 24px;
        height: 24px;
        left: 10px;
        top: 7px;
      }
    }

    .search-icon {
      position: absolute;
      left: 15px;
      top: 50%;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
    }
  }
}

