.range {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 2px;
  background: $border-color-gray;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 20px;
    width: 20px;
    background-color: $accent-color;
    border-radius: 50%;
    border: none;
    transition: .3s ease-in-out;
  }
  
  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 20px;
    width: 20px;
    background-color: $accent-color;
    border-radius: 50%;
    border: none;
    transition: .3s ease-in-out;
  }

  &::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(46, 88, 219, .1)
  }

  &:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(46, 88, 219, .2)
  }
  
  &::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(46, 88, 219, .1)
  }

  &:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(46, 88, 219, .2)
  }
}