.compare {
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__wrapper {
    width: 100%;

    .compare__swiper__container {
      z-index: 2;
      padding-top: 20px;
      padding-bottom: 20px;
      background: $light-grey;
      position: sticky;
      top: 0;
    }

    .compare__swiper__wrapper {
      position: relative;

      .compare-navigation-prev {
        position: absolute;
        top: 50%;
        left: -48px;
        transform: translateY(-50%);
      }
      
      .compare-navigation-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -48px;
      }
    }
  }

  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 40px;

    &__right {
      right: calc(50% + -709px);
      transform: translateY(-50%);
    }

    &__left {
      transform: translateY(-50%) rotate(180deg);
      left: calc(50% + -709px);
    }

    &__button {
      cursor: pointer;
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: $border-radius;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: 1px solid $border-color-gray;
      top: 50%;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 44px;
    
    &__wrapper {
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__count {
      color: $text-color-gray;
    }
  }

  &__item {
    padding: 10px;
    width: 324px;
    height: 104px;
    border-radius: $border-radius;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.hidden {
      display: none;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3px;
    }

    &__title {
      font-size: 16px;
      line-height: 24px;
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__sum {
      color: $accent-color;
    }

    &__cross {
      width: 32px;
      height: 32px;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $black;
      border-radius: $border-radius;
      padding: 0 !important;
      
      span {
        width: 24px;
        height: 24px;
      }
    }

    button {
      padding: 6px 16px;
    }
  }

  &__list {
    width: 100%;
    padding: 44px 0 80px 0;
    background: $white;

    &__title {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 15px;

      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border-color-gray;

        .arrow-icon {
          cursor: pointer;
          background: $black;
          margin-top: -15px;
          transform: rotate(-90deg);
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .parameters {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    gap: 24px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  
    &__name {
      color: $text-color-darkGray;
    }
  
    .parameter {
      margin-left: 0;

      &__list {
        max-width: 1332px;
      }
  
      &__item {
        min-width: 324px;
        margin-top: 9px;
        width: 324px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        border-radius: $border-radius;
        background: #F3F6FB;
        text-align: center;

        &.hidden {
          display: none;
        }
  
        &__price {
          color: $blue-main;
        }

        &.is-advantage {
          color: $blue-main;
        }

        .icon-wrapper {        
          border-radius: $border-radius;
          background-color: $black;
  
          &.minus {
            background: $text-color-gray;
          }
        }
  
        .plus-icon, .minus-icon {
          width: 24px;
          height: 24px;
          background: $white;
        }
  
        .plus-icon {
          mask-image: url("../images/icons/plus.svg");
          -webkit-mask-image: url("../images/icons/plus.svg");
        }
  
        .minus-icon {
          mask-image: url("../images/icons/minus.svg");
          -webkit-mask-image: url("../images/icons/minus.svg");
        }
      }
    }
  }
}

.car-compire {
  .compare {
    &__item {
      display: flex;
      flex-direction: row;
      gap: 12px;

      &__car-name {
        max-height: 68px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }

      &__cross {
        cursor: pointer;
        border-color: $grey-2;
        flex-shrink: 0;
      }

      &__image {
        width: 140px;
        flex-shrink: 0;
        border-radius: $border-radius;
        
        img {
          border-radius: $border-radius;
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 1331px) {
  .compare {
    .slider {
      width: 1332px;
    }
    &__list {
      width: max-content;
    }

    &__wrapper {
      overflow-x: auto;
      width: 100%;
    }

    &__item {
      min-width: 324px;
    }

    &__swiper__container {
      width: max-content !important;
    }

    .parameters .parameter__item {
      min-width: 316px;
    }
  
    .parameters__name {
      &.mobile-width {
        width: 22%;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .compare {
    padding-top: 20px;
  }
  .compare__swiper__container {
    width: 1332px;
  }
  .compare__title__wrapper {
    align-items: flex-start;
    gap: 20px;
    padding: 0 16px;
  }
}

@media (max-width: 554px) {
  .compare {
    padding-top: 20px;
    
    &__list {
      .container {
        max-width: max-content;
      }
    }

    &__title {
      font-size: 28px;
      line-height: 34px;
      
      &__wrapper {
        flex-direction: column;
        margin-bottom: 0;
      }
    }

    & .slider {
      justify-content: flex-start;
      margin: auto 16px;
      margin-bottom: 20px;
    }

    & .slider__button {
      display: none;
    }

    &__list {
      padding: 24px 0 80px 0;
    }

    &__list__title {
      font-size: 18px;
    }

    &__item {
      width: 300px;
    }
  }
}