.clock-icon {
  mask-image: url("../images/icons/clock.svg");
  -webkit-mask-image: url("../images/icons/clock.svg");
  background-color: $icon-color;
}

.mark-icon {
  mask-image: url("../images/icons/mark.svg");
  -webkit-mask-image: url("../images/icons/mark.svg");
  background-color: $icon-color;
}

.search-icon {
  mask-image: url("../images/icons/search.svg");
  -webkit-mask-image: url("../images/icons/search.svg");
  background-color: $icon-color-light;
}

.power-icon {
  mask-image: url("../images/icons/power.svg");
  -webkit-mask-image: url("../images/icons/power.svg");
  background-color: $accent-color;
}

.speedometer-icon {
  mask-image: url("../images/icons/speedometer.svg");
  -webkit-mask-image: url("../images/icons/speedometer.svg");
  background-color: $accent-color;
}

.droplets-icon {
  mask-image: url("../images/icons/droplets.svg");
  -webkit-mask-image: url("../images/icons/droplets.svg");
  background-color: $accent-color;
}

.drive-unit-icon {
  mask-image: url("../images/icons/drive-unit.svg");
  -webkit-mask-image: url("../images/icons/drive-unit.svg");
  background-color: $accent-color;
}

.plus-icon {
  background: url("../images/icons/plus.svg");
}

.minus-icon {
  background: url("../images/icons/minus.svg");
}

.alert-icon {
  mask-image: url("../images/icons/alert.svg");
  -webkit-mask-image: url("../images/icons/alert.svg");
  background-color: $accent-color;
}

.arrow-icon {
  mask-image: url("../images/icons/arrow-light.svg");
  -webkit-mask-image: url("../images/icons/arrow-light.svg");
  background-color: $accent-color;
}

.arrow-icon,
.alert-icon,
.plus-icon,
.minus-icon,
.power-icon,
.speedometer-icon,
.droplets-icon,
.drive-unit-icon,
.search-icon,
.clock-icon,
.mark-icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  mask-repeat: no-repeat;
  -webkit-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-position: center;
  -webkit-position: no-repeat;
  -webkit-mask-position: center;
  transition: all 0.3s ease;
  display: block;
  -webkit-mask-size: 100%;
}