@import 'vars';
@import 'reset';
@import 'fonts';
@import 'icons';
@import 'typography';

* {
  font-family: 'PTRootUI', sans-serif;
  @include transition;
}

body {
  background: $body-background-color;
}

.container {
  max-width: 1332px;
  margin: 0 auto;
}

.info__mobile {
  display: none !important;
}

a:visited {
  color: $black;
}

a {
  color: $black;
}

@media(max-width: 1332px) {
  .container {
    max-width: auto;
    margin: 0 32px;
  }
}