.main__banner {
  position: relative;
  padding: 48px 80px;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $white;
  background: linear-gradient(90deg, rgba(22,22,22,1) 0%, rgba(54,33,185,1) 100%);
  
  &#banner-autocredit {
    &::after {
      background-image: url("../images/content/banner_main_1.webp");
    }
  }

  &#banner-payment {
    &::after {
      background-size: 50.5%;
      background-position: right 56%;
      background-image: url("../images/content/banner-payment.webp");
    }
  }

  &#banner-promo {
    &::after {
      background-size: 54.5%;
      background-position: right 45.5%;
      background-image: url("../images/content/banner-promo.webp");
    }
  }

  &#banner-trade-in {
    &::after {
      background-size: 54.5%;
      background-position: 97% 73%;
      background-image: url("../images/content/banner-trade-in.webp");
    }
  }

  &#banner-trade-in-promo {
    &::after {
      background-image: url("../images/content/banner-trade-in-promo.webp");
    }
  }

  &#banner-trade-in-payment {
    &::after {
      background-image: url("../images/content/banner-trade-in-payment.webp");
    }
  }

  &#banner-buyout {
    &::after {
      background-image: url("../images/content/banner-buyout.webp");
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: $border-radius;
    background-size: 74%;
    background-position: right 28%;
    background-repeat: no-repeat;
  }

  &__container.container {
    margin-top: 20px;
    margin-bottom: 20px;

    .slider-buttons {
      height: 28px;
    }
  }

  &__buttons {
    z-index: 1;
    display: flex;
    gap: 13px;
  }
}

@media (max-width: 1100px) {
  .main__banner {
    border-radius: 0 0 $border-radius $border-radius;
    padding: 24px 16px 0 16px;
    gap: 16px;
    overflow: hidden;

    &__container.container {
      margin-top: 0;
      margin: 0;
    }

    &__buttons {
      margin-bottom: 120px;
    }
  }
}

@media( max-width: 813px) {
  .main__banner {
    &#banner-trade-in {
      &::after {
        background-size: 64.5%;
        background-position: right bottom;
      }
    }
  }
}

@media( max-width: 613px) {
  .main__banner {
    &#banner-promo {
      &::after {
        background-size: 61.5%;
        background-position: 100% 112%;
      }
    }
  }
  .main__banner {
    &#banner-payment {
      &::after {
        background-size: 70.5%;
        background-position: right bottom;
      }
    }
  }
}

@media (max-width: 922px) {
  .main__banner {
    &::after {
      background-position: bottom right;
    }
  }
}