.gifts {
  display: flex;
  gap: 12px;

  &__container.container {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;

    h2 {
      width: 33.66%;
    }
  }

  &__item {
    width: 212px;
    height: 200px;
    background-color: $white;
    border-radius: $border-radius;
    padding: 24px;

    &__wheels {
      background-image: url("../images/content/wheels-advantage.png");
      background-position: right bottom;
      background-size: contain;
    }

    &__fuel {
      background-image: url("../images/content/fuel-advantage.png");
      background-position: right bottom;
      background-size: contain;
    }
    
    &__secure {
      background-image: url("../images/content/secure-advantage.png");
      background-position: right bottom;
      background-size: contain;
    }
    
    &__price {
      background-image: url("../images/content/price-advantage.png");
      background-position: right bottom;
      background-size: contain;

    }
  }
}