.car-offer {
  &__section {
    padding: 40px 80px;
    display: flex;
    padding: 40px 0px 40px 80px;
    align-items: center;
    gap: 12px;
    border-radius: $border-radius;
    background: linear-gradient(79deg, $black 15.88%, #382A8E 95.81%);
  }

  &__timer-mobile {
    display: none;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: calc(50% - 6px);

    .input {
      color: $white;
    }

    &__container {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__license {
      display: flex;
      flex-direction: column;

      span {
        color: $grey-3;
      }

      a {
        color: $blue-main;
      }
    }
  }

  &__label {
    background: $red;
    width: fit-content;
    border-radius: $border-radius;
    color: $white;
    padding: 4px 12px;
    margin-top: 12px;
    @include button-text;
  }

  &__title {
    color: $white;
  }

  &__timer {
    width: calc(50% - 6px);
  }
}

@media (max-width: 1100px) {
  .car-offer {
    &__section {
      padding: 24px 16px;
      flex-direction: column;
    }

    &__timer-mobile {
      display: flex;
    }

    &__form {
      width: 100%;


      &__actions {
        gap: 12px;
        flex-direction: column-reverse;
        text-align: center;
        
        .button {
          width: 100%;
        }
      }
    }

    &__timer {
      display: none;
    }
  }
}