.specs {
  &__section {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  &__button-mobile {
    display: none;
  }

  &__title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__select {
    &__container {
      display: flex;
      justify-content: center;
      gap: 12px;

      .select {
        max-width: 400px;
        margin-bottom: 40px;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .tabs__wrapper {
      margin-bottom: 40px;
    }

    .tabs__content {
      width: 100%;
    }
  }

  &__select {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    &__header {
      cursor: pointer;
      padding-bottom: 12px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $grey-3;
    }

    &__title {
      color: $blue-main;
    }

    &__arrow {
      background: $black; 
      transform: rotate(-90deg);
    }

    &__body {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 16px;
      column-gap: 12px;
    }

    &__item {
      max-width: 436px;
      list-style-type: disc;
      width: max-content;
      margin-left: 24px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;

    &__item {
      display: flex;
      gap: 12px;
      border-bottom: 1px solid $grey-2;
      padding: 4px 0 12px 0;

      &__name {
        color: $dark-grey;
        width: calc(50% - 6px);
      }
      
      &__value {
        color: $black;
        width: calc(50% - 6px);
      }
    }
  }
}

@media (max-width: 1100px) {
  .specs {
    &__section {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    &__title {
      text-align: left;
    }

    &__container {
      display: none;
    }

    &__select {
      &__container {
        flex-direction: column;
        
        .select {
          margin-bottom: 0;
          max-width: none;
          width: 100%;
        }
      }
    }

    &__button-mobile {
      display: block;
      width: 100%;
      margin-top: 12px;
    }
  }
}