
.advantages-cards {
  &__section {
    display: flex;
    gap: 12px;
    margin-bottom: 80px;
  }

  &__item {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(50.85% 74.43% at 50% 100%, rgba(255, 255, 255, 0.20) 0%, rgba(0, 38, 145, 0.20) 100%), #1641BC;
    border-radius: $border-radius;
    padding: 22px 24px;

    &__icon {
      width: 64px;
      height: 64px;
      background: $sky-blue;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h3 {
        color: $white;
      }

      span {
        color: $sky-blue;
      }
    }
  }
}

@media (max-width: 1100px) {
  .advantages-cards {
    &__section {
      overflow: hidden;
    }

    &__item {
      width: 100%;
    }
  }
}