



@media (max-width: 554px) {
  .mobile-br {
    display: block;
  }
 
  .main__info__preview__photo {
    height: 240px;
    margin-bottom: 4px;
  }

  .main__info__preview__colors {
    padding: 7px 8px;
  }

  .main__info__preview {
    .preview-info {
      left: 12px;
      bottom: 8px;
    }

    .preview-info__desc {
      font-size: 14px;
    }
  }
  .main__info {
    gap: 40px;
  }

  .main__info__settings {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;

    .label__wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      row-gap: 8px;
      column-gap: 12px;
      width: calc(100% - 16px);
      margin-bottom: 16px;
    }

    .label {
      padding: 8px;
      width: 100%;
      flex-direction: row;
    }

    .total {
      order: 2;
    }

    .discount__options {
      gap: 23px;
      order: 2;
      margin-bottom: 21px;

      .toggle {
        width: 75%;
      }

      #disposal-program-checkbox + .toggle__text {
        width: 75%;
      }
    }

    .discount__total {
      order: 2;
    }

    .total__actions {
      z-index: 1;
      flex-direction: row-reverse;
      background: $white;
      width: 100%;
      padding: 12px 16px;
      left: 0;
      bottom: 0;
      position: fixed;
    }

    .total__wrapper {
      margin-top: 15px;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;
      margin-bottom: 15px;
    }

    .total__sum {
      font-size: 28px;
    }

    .total__desc {
      font-size: 18px;
    }
    .total {
      margin-bottom: 21px;
    }
  }

  
  .discount__option__value {
    font-size: 14px;
  }
    
  .discount__option {
    &:first-child {
      display: none;
    }
  }
}